{% extends "layout.html" %}
{% block content %}
      {% with post = this %}
        <h1><a href="{{ post|url }}">{{ post.title }}</a></h1>
        <div class="post-date">{{ post.pub_date.strftime('%b %d, %Y') }}</div>
        <ul class="tags">
          {% for t in this.tags -%}
            <li class="tag"><a href="{{ ('/tag/' ~ t)|url }}">{{ t }}</a></li>
          {% endfor %}
        </ul>
        <div class="post-content">
            {{ post.body }}
        </div>
        {% if config.THEME_SETTINGS.comments == 'yes' %}
        <div class="post-comments">
            {{ render_disqus_comments() }}
        </div>
        {% endif %}
      {% endwith %}
{% endblock content %}
